---
import citromax from '/public/imagenes/citromax-logo.webp';
import blueberries from '/public/imagenes/blueberries-logo.webp';
import trapani from '/public/imagenes/trapani-logo.webp'
---

<section class="clientes">
    <div class="py-[50px] px-[100px] max-[480px]:p-[20px]">
        <h2 class="font-[Poppins] font-[400] text-[35px] text-[var(--verde)]">Empresas que confían en nuestro trabajo</h2>
        <div class="flex gap-[60px] justify-center flex-wrap p-2 my-[30px] max-[480px]:mt-[50px]">
            <div class="">
                <img src={citromax.src} alt="Citromax Argentina" class="h-[150px] w-[150px]">
            </div>
            <!-- <div class="flex flex-col gap-y-[5px]">
                <img src={fabrica.src} alt="Calcerano" class="fabrica h-[150px] w-[150px] bg-white">
                <h4 class="font-[Poppins] font-[500] text-[18px] text-center text-[]">Calcerano</h4>
            </div> -->
            <div class="">
                <img src={trapani.src} alt="Vicente Trapani" class="h-[150px] w-[150px]">
            </div>
            <!-- <div class="flex flex-col gap-y-[5px]">
                <img src={fabrica.src} alt="Ingenio Trinidad" class="fabrica h-[150px] w-[150px] bg-white">
                <h4 class="font-[Poppins] font-[500] text-[18px] text-center text-[]">Ingenio Trinidad</h4>
            </div> -->
            <div class="">
                <img src={blueberries.src} alt="Blueberries" class="h-[150px] w-[150px]">
            </div>
        </div>
    </div>
</section>

<style>
    .fabrica{
        opacity: 0.4;
    }
</style>